body{margin-top:0.1em;margin-left:0.25em;}
	#th1, #th2, #th3, #th4{font-variant:small-caps;background:rgb(227,234,243);
	font-weight:normal;height:1.6em;font-family:Arial,sans-serif;}
	#th1{width:8em;}
	#th2{width:8em;}
	#th3{width:12em;}
	#th4{width:7em;}	
	.fc{text-transform:capitalize;}
	.fr:nth-child(even){background:rgb(232,237,244);}
	.fr:nth-child(odd){background:rgb(242,246,250);}
	.fr{height:3.1em;}
	.fr:hover{background:rgb(226,229,233);}
	.fr td{font:0.9em Arial,sans-serif;text-align:left;padding-left:1em;}